/* Start header */
html{
    scroll-behavior: smooth;
}
html, body{
    scroll-padding-top: 50px; /* Size of fixed header */
}
.navbar {
    margin-bottom: 0;
    background-color: #00ac7a;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Roboto, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1ECBF4 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.logoPage{
    position: absolute;
    bottom: 5px;
}

/* End Header */

/* Start Main page */

.main-page .item img{
    filter: brightness(50%);
    float:left;
	width:100%;
	position:relative;
	z-index:0;
}

.slider_detail{
    float:left;
	width:100%;
	position:relative;
	z-index:1;
}

.slider_text{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 100%;
	z-index:1;
	text-align:center;
    color: white;
}

.btn-follow{
    background-color: #00ac7a;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}
.btn-follow:hover, .btn-follow:link, .btn-follow:visited, .btn-follow:active{
    text-decoration: none;
    color: white;
}

.btn-follow:hover{
    color: blue;
}

.services{
    width: 100%;
	float: left;
	margin: -150px 0px 0px 0px;
	border-bottom: 2px solid #7f9aa0;
	margin-bottom: 40px;
	padding: 30px 20px 30px 20px;
	background: #ffffff;
    box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .2);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
    z-index: 1;
    position: relative;
}

.logo-home{
    font-size: 50px;
    color: #5bae7b;
}

.btn-read-more{
    /* background-color: white; */
    color: black;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
}

.btn-read-more:hover{
    color: white;
    background-color: #00ac7a;
    text-decoration: none;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

/* End Main page */

/* Start about section */

.about_heading{
    float: left;
	width: 100%;
	text-align: center;
	margin-top: 80px;
    text-align: left;
}
.about_heading h1{
	float: left;
	width: 100%;
	color: #222222;
	font-size: 32px;
	text-transform: uppercase;
	position: relative;
	margin: 0px;
	padding-bottom: 10px;
	font-weight: bold;
}
.about_heading h1:after{
    content: "";
    position: absolute;
    background-color: #00ac7a;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: 2px;
    width: 100px;
    bottom: 0px;
    right: auto;
}
.about_info p{
	float: left;
	width: 100%;
	margin: 20px 0px 0px 0px;
    font-size: 17px;
}
.about_info h4{
	float:left;
	width:100%;
	margin:30px 0px 20px 0px;
	font-weight:600;
	font-size:22px;
	position:relative;
    padding-bottom: 10px;
}
.about_info h4:after{
    content: "";
    position: absolute;
    background-color: #00ac7a;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: 2px;
    width: 80px;
    bottom: 0px;
    right: auto;
}
.about_info table{
	float:left;
	width:100%;
	background-color:#437f4b;
	color:#ffffff;
}
.about_info table tr th{
	text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: #00ac7a;
	font-size:18px;
}
.about_info table tr td{
    padding: 5px;
    text-align: center;
}
.about_info table tr:nth-child(2) td{
	padding-top:10px;
}
.about_info table tr:nth-child(4) td{
	padding-bottom:10px;
}
/* End about section */

/* Start Doctors section */

.doctors-section{
    position: relative;
    padding-bottom: 60px;
}

.spc-heading h2{
    float:left;
	width:100%;
	margin:30px 0px 20px 0px;
	font-weight:bold;
	font-size:35px;
	position:relative;
    padding-bottom: 10px;
}

.spc-heading h2:after{
    content: "";
    position: absolute;
    background-color: #00ac7a;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px auto;
    height: 2px;
    width: 250px;
    bottom: 0px;
    right: auto;
}

.spc-heading p{
    font-size: 18px;
    color: rgb(100, 95, 95);
}

.specialistbox{
    float:left;
	width:100%;
	border:1px solid #d3d3d3;
	text-align:center;
	position:relative;
	overflow:hidden;
	z-index:1;
    margin-bottom: 30px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.specialistbox:hover .spc-info{
    opacity:1;
	visibility:visible;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.specialistbox img{
    display: inline-block;
}

.spc-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.spc-infobox{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0px auto;
    color: #ffffff;
    text-align: center;
    margin-top: -50px;
}

.spc-infobox h1{
    font-size:28px;
	margin:0px 0px 5px 0px;
	color:#ffffff;
    transform: translateY(-100px);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.specialistbox:hover .spc-infobox h1{
    transform: translateY(0px);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.spc-infobox ul{
    margin:0px;
	margin-top:15px;
	padding:0px;
	display:inline-block;
	width:auto;
    transform: translateY(100px);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.specialistbox:hover .spc-infobox ul{
    transform: translateY(0px);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.spc-infobox ul li{
    float:left;
	width:auto;
	list-style:none;
	margin-right:15px;
}
.spc-infobox ul li:last-child{
	margin-right:0px;
}
.spc-infobox ul li a{
    float:left;
	width:35px;
	height:35px;
	line-height:34px;
	list-style:none;
	background-color:transparent;
	color:#ffffff;
	border:1px solid #ffffff;
	border-radius:100%;
}

.spc-infobox ul li a:hover{
    background-color:#36c777;
	border:1px solid #36c777;
}

.spc-infoshow{
    position: absolute;
    left: 0%;
    bottom: 20px;
    background-color: #0274FA;
    padding: 15px 0px 15px 25px;
    -webkit-clip-path: polygon(5% 0,100% 0%,95% 100%,0% 100%);
    clip-path: polygon(0% 0,100% 0%,95% 100%,0% 100%);
    text-align: left;
    width: 240px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.specialistbox:hover .spc-infoshow{
    left: -100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.spc-infoshow h3{
    font-size:20px;
	color:#ffffff;
	float:left;
	width:100%;
	margin:0px 0px 0px 0px;
}
.spc-infoshow p{
    color:#ffffff;
	float:left;
	width:100%;
	margin:0px;
}

.owl-prev span{
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 0px;
}
.owl-prev span:hover{
    color: #36c777;
}
.owl-next span{
    font-size: 50px;
    position: absolute;
    top: 30%;
    right: 0px;
}
.owl-next span:hover{
    color: #36c777;
}

/* End Doctors Section */



/* Start Services Section */
.ser-heading{
    color: #36c777;
    margin: 30px auto;
    padding-bottom: 15px;
    position: relative;
    font-size: 24px;
}

.ser-heading:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 70px;
    border-bottom: 2px solid #7f9aa0;
}

.ser-tab{
    margin-bottom: 30px;
}

.ser-tab .tab-content>.tab-pane img{
    width: 100%;
    height: auto;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #00ac7a;
    border: 1px solid #00ac7a;
	color:#ffffff;
}

.nav-tabs > li > a {
    border: 1px solid #00ac7a;
    border-bottom-color: rgba(255,255,255,0);
}

.tab-content{
    /* padding-top: 32px; */
    border-bottom: 2px solid #00ac7a;
}

.contact_form_div{
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 2px solid #00ac7a;
    margin-bottom: 40px;
}

.contact_form_div > img{
    width: 100%;
}

.contact_form{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(245,245,245,1);
	background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(60%, rgba(245,245,245,0.77)), color-stop(71%, rgba(245,245,245,0)), color-stop(100%, rgba(245,245,245,0)));
	background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
	background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(245,245,245,0.77) 60%, rgba(245,245,245,0) 71%, rgba(245,245,245,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=1 );
}

.form-control{
    margin: 15px 15px 15px 15px;
    height: 50px;
    padding: 0px 10px;
    font-size: 16px;
    width: 300px;
}

.contact_form button{
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 0px;
    background-color: #00ac7a;
    color: #fff;
    font-size: 20px;
}
.contact_form button:hover{
    border: 1px solid #00ac7a;
    background-color: #fff !important;
    color: #00ac7a;
}

/* End Services Section */

.logo-small {
    color: #00ac7a;
    font-size: 50px;
}
.logo {
    color: #5bae7b;
    font-size: 200px;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #00ac7a;
}
.carousel-indicators li {
    border-color: #00ac7a;
}
.carousel-indicators li.active {
    background-color: #00ac7a;
}

.panel {
    border: 1px solid #00ac7a; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #00ac7a;
    background-color: #fff !important;
    color: #00ac7a;
}
.panel-heading {
    color: #fff !important;
    background-color: #00ac7a !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #00ac7a;
    color: #fff;
}









footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #00ac7a;
}


/* .slideanim{
    visibility: hidden;
}

.slide{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translate(70%);
    }
    100%{
        opacity: 1;
        transform: translate(0%);
    }
}

@-webkit-keyframes slide{
    0%{
        opacity: 0;
        transform: translate(70%);
    }
    100%{
        opacity: 1;
        transform: translate(0%);
    }
} */
